.transaction-box {
  padding: 10px;
  border: 1px solid var(--bs-border-color);
  border-radius: 4px;
  margin-bottom: 10px;
}

.transaction-id {
  font-family: monospace;
  word-break: break-all;
}

.transaction-date {
  margin-top: 5px;
  color: var(--text-muted);
  font-size: 0.9em;
} 

.cluster-visualization {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.svg-container {
  width: 100%;
  overflow: auto;
}



.legend {
  font-size: 14px;
  
  .legend-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    
    &.cluster-node {
      background-color: #4caf50;
      border: 2px solid #2e7d32;
    }
    
    &.external-node {
      background-color: #2196f3;
      border: 2px solid #0d47a1;
    }
  }
}
