<div class="box">
  <div class="row">
    <div class="col-md">
      <h4 i18n="address.cluster.first-transaction">First Transaction</h4>
      <div *ngIf="isLoading" class="text-center">
        <span class="skeleton-loader"></span>
      </div>
      <div *ngIf="!isLoading">
        <div *ngIf="firstTransaction; else noTransactions">
          <div class="transaction-box">
            <a [routerLink]="['/tx/' | relativeUrl, firstTransaction.txid]">
              <span class="transaction-id">{{ firstTransaction.txid }}</span>
            </a>
            <div class="transaction-date">
              <ng-container *ngIf="firstTransaction.status?.confirmed; else unconfirmed">
                {{ firstTransaction.status.block_time * 1000 | date:'medium' }}
              </ng-container>
              <ng-template #unconfirmed>
                <i i18n="transaction.unconfirmed">Unconfirmed</i>
              </ng-template>
            </div>
          </div>
        </div>
        <ng-template #noTransactions>
          <div class="text-center" i18n="address.cluster.no-transactions">No transactions found for this address.</div>
        </ng-template>
      </div>
    </div>
  </div>
  
  <!-- Cluster visualization with zoom functionality -->
  <div class="cluster-visualization">
    <div class="svg-container" #svgContainer>
      <svg #clusterSvg [attr.viewBox]="viewBox" width="100%" height="250">
        <g [attr.transform]="transform">
          <circle cx="75" cy="100" r="30" class="cluster-node"></circle>
          <path d="M 75 100 C 125 50, 175 150, 225 100" stroke="black" fill="none" stroke-width="3" class="cluster-link"></path>
          <circle cx="225" cy="100" r="30" class="cluster-node"></circle>
        </g>
      </svg>
    </div>
  </div>
  
</div> 